body{
 font-family: 'Permanent Marker', cursive;
  background-color: aquamarine;
  color: green;  
}

div{
    color: rgb(120, 120, 131);
}

div{
    background-color: plum
}

img{
  width:20%;
}

a {

 width:10%;
}